<div class="container">

    <div class="row">
        <div>
            <app-search (searchForUser)= 'searchUserName($event)'></app-search>
        </div>
    </div>
    <div class="image" *ngIf = "user">
        <img [src] ="user.avatar_url">
    </div>
    <div>
        <p>Name: {{user.login}}</p>
        <p>Followers: {{user.followers}}</p>
        <p>Following: {{user.following}}</p>
        <p>Date created: {{user.created_at|duration}}</p>
    </div>

    <div>
  
            <table class="table" *ngIf = "user"> 
                <thead>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Language</td>
                    <td>Forks</td>
                </thead>
                <tr *ngFor = "let repo of repos">
                    <td>{{repo.name}}</td>
                    <td>{{repo.description}}</td>
                    <td>{{repo.language}}</td>
                    <td>{{repo.forks_count}}</td>
                </tr>
    
          </table>
    
</div>
