.home{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(src/assets/bg2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    height: 100vh; 
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
